@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Open+Sans:ital,wght@0,400;1,300&display=swap');
:root {
    --headings: 'Coda Caption', sans-serif;
    --bodyFont: 'Open Sans', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease-in-out;
    --lightgray: #f6f6f6;
    --white: #fff;
    --black: #1e1e1e;
    --primary: #3a8bcd;
    --gray: #6c757d;
    --text: #4a4a4a;
    --borders: #eeeeee;
}

/*   KO RADI SASS EVO VARIJABLE I ZA SASS
$headings: 'Coda Caption', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$fontSize: 16px;
$transition: .3s ease-in-out;
$lightgray: #f6f6f6;
$white: #fff;
$black: #1e1e1e;
$primary: #3a8bcd;
$gray: #6c757d;
$text: #4a4a4a;
$borders: #eeeeee;
*/

/********************************
BASIC STYLE
********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-size: var(--fontSize);
    font-family: var(--bodyFont);
}
h1, h2, h3, h4, h5 {
    font-family: var(--headings);
}
.container {
    width: 80%;
    margin: auto;
}
/**************************
NAV
**************************/
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-top: 5px solid var(--primary);
}
nav .logo i {
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--black);
}
nav .logo {
    color: var(--primary);
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--headings);
    margin: 20px 0 30px 0;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 20px;
}
nav ul li a {
    font-size: 1.1rem;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black);
}
nav ul li a:hover {
    color: var(--primary);
    transition: var(--transition);
}
/**************************
HEADER
**************************/
header {
    background-image: url(/images/header.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
header .text {
    background: rgba(255,255,255,.7);
    margin-left: 250px;
    text-align: left;
    flex: 30%;
    padding: 40px 20px 40px 40px;
    text-align: left;
}
header .text h2 {
    font-size: 1.3rem;
    font-weight: bold;
}
header .text h2::after {
    content: "";
    display: block;
    background-color: var(--primary);
    height: 3px;
    width: 30px;
    margin: 20px 0;
}
header .text p {
    color: var(--black);
    line-height: 1.4;
    font-size: .9rem;
}
header .empty {
    flex: 70%;
}
header button {
    padding: 15px 30px;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1rem;
}
header button:hover {
    cursor: pointer;
    transition: var(--transition);
    background-color: var(--black);
}
/**************************
FEATURED ITEMS
**************************/
.featuredItems {
    padding: 100px 0;
}
.featuredItems h2 {
    font-size: 1.4rem;
    margin-bottom: 30px;
}
.featuredItems h2::before {
    content: "";
    display: block;
    background-color: var(--primary);
    height: 4px;
    width: 60px;
    margin: 20px 0;
}
.featuredItems .item {
    border: 6px solid var(--lightgray);
    padding: 30px;
    border-radius: 10px;
}
.featuredItems .item p {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}


/**************************
SUBSCRIBE
**************************/
.subscribe {
    background-color: var(--primary);
    padding: 80px 0;
    text-align: center;
}
.subscribe h3 {
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.subscribe p {
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 30px;
}
.subscribe input {
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid var(--white);
    background-color: transparent;
    outline: none;
}
.subscribe input::placeholder {
    color: var(--white);
    opacity: .8;
}
.subscribe button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
}
.subscribe button:hover {
    background-color: var(--black);
    color: white;
    transition: var(--transition);
    cursor: pointer;
}
/**************************
FOOTER
**************************/
footer {
    padding: 60px 0;
    text-align: center;
}
.footerNavLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.footerNavLinks .logo i {
    font-size: 2rem;
    font-weight: 900;
    color: var(--black);
}
.footerNavLinks .logo {
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 900;
    font-family: var(--headings);
    margin: 20px 0 30px 0;
}

.footerNavLinks ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 20px;
}
.footerNavLinks ul li a {
    font-size: .9rem;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black);
}
.footerNavLinks ul li a:hover {
    color: var(--primary);
    transition: var(--transition);
}
footer .socialMedia {
    margin-bottom: 60px;
}
footer .socialMedia i {
    font-size: 1.3rem;
    color: var(--text);
    margin-right: 10px;
}
footer .socialMedia i:hover {
    color: var(--primary);
    transition: var(--transition);
}